:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  color: var(--stone-600);
  line-height: 1.6em;
}

section {
  margin: 2em;
}

section:not(:first-of-type):not(:last-of-type) {
  border-bottom: 1px solid var(--stone-150);
}

h1,
h2 {
  margin-bottom: 1rem;
  font-family: 'Young Serif', serif;
}

h1 {
  color: var(--stone-900);
  line-height: 1em;
  font-weight: 300;
  font-size: 2.5em;
}

h2 {
  font-size: 1.7em;
  font-weight: 500;
  color: var(--brown-800);
}

h3 {
  color: var(--rose-800);
  font-size: 1.3em;
  margin-bottom: 1em;
}

p,
li {
  font-size: 1.05em;
}

ul,
ol {
  padding-left: 1.5em;
}

span {
  color: var(--stone-900);
  font-weight: 600;
}

li {
  padding-left: 1em;
  margin-bottom: 0.8em;
}

li::marker {
  color: var(--brown-800);
  font-weight: 600;
}

img {
  width: 100%;
}

.prep-container {
  margin-top: 2em;
  padding: 1.5em;
  background-color: var(--rose-50);
}

table {
  margin-top: 1em;
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--stone-150);
}

td:nth-child(even) {
  color: var(--brown-800);
  font-weight: 600;
}

/* Media Queries */
